---
const { info } = Astro.props;
const { program } = Astro.props;
const { specifikationer1 } = Astro.props;
const { specifikationer2 } = Astro.props;
const { specifikationer3 } = Astro.props;
const { pris } = Astro.props;
---

<div>
  <h2>Information om eventet:</h2>
  <h4>Info:</h4>
  <p>{info}</p>
  <br />
  <h4>Aften byder på:</h4>
  <p>{program}</p>
  <br />
  <h4>Specifikationer:</h4>
  <p>{specifikationer1}</p>
  <p>{specifikationer2}</p>
  <p>{specifikationer3}</p>
  <br />
  <p>Pris pr. person: {pris},-</p>
</div>

<style>
  h2 {
    padding-bottom: 16px;
  }
  div {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    max-width: 560px;
    padding-bottom: 50px;
  }
  h4 {
    padding-top: 30px;
  }
</style>
