---
const { producentNavn } = Astro.props;
const { desc } = Astro.props;
const { special1 } = Astro.props;
const { special2 } = Astro.props;
const { special3 } = Astro.props;
---

<section>
  <div class="section">
    <h2>Om {producentNavn}</h2>
    <p>{desc}</p>
    <br />
    <br />
    <h5>Specialiteter</h5>
    <ul>
      {special1 && <li>{special1}</li>}
      {special2 && <li>{special2}</li>}
      {special3 && <li>{special3}</li>}
    </ul>
  </div>
</section>

<style>
  .section {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  h2,
  h5,
  li,
  p {
    color: var(--color-white);
  }
  h2 {
    padding-bottom: 46px;
  }
  ul {
    padding-left: 16px;
    padding-bottom: 70px;
  }
  li {
    padding-top: 10px;
  }
  p {
    max-width: 560px;
  }
  .nodisplay {
    display: none;
  }
</style>
